.button {
  display: inline-block;

  padding: 10px;
  min-width: 185px;

  cursor: pointer;
  text-decoration: none;

  color: white;
  background-color: var(--deep-blue);
  border: none;

  @include text(14, 24, 500);

  &:hover {
    animation-name: scale-toggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  &:active {
    animation-play-state: paused;
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 20px;
    min-width: 166px;

    @include text(16, 24, 500);
  }
}


@media (min-width: $desctop-width) {
  .button {
    padding: 38px;
    min-width: 270px;

    @include text(24, 24, 500);
  }
}

@keyframes scale-toggle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

