.contscts__title {
  margin-bottom: 15px;

  @include text(25, 40, 700);
}

.contscts__list {
  display: flex;
  flex-direction: column;

  padding-left: 80px;
}

.contscts__item-name {
  position: relative;

  @include text(16, 32);
  &::before {
    position: absolute;
    top: 0;
    left: -80px;

    width: 64px;
    height: 64px;

    content: '';

    border-radius: 50%;
    background-color: var(--beige);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--phone::before {
    background-image: url('./../img/phone-icon-white.svg');
  }
  &--email::before {
    background-image: url('./../img/email-icon.svg');
  }
  &--hours::before {
    background-image: url('./../img/clock-icon.svg');
  }
  &--street::before {
    background-image: url('./../img/map-icon.svg');
  }
}

.contscts__item-value {
  margin-bottom: 20px;

  @include text(16, 32);
}

@media (min-width: $tablet-width) {
  .contscts__title {
    margin-bottom: 15px;

    @include text(25, 40, 700);
  }

  .contscts__list {
    padding-left: 80px;
  }

  .contscts__item-name {
    @include text(16, 32);

    &::before {
      top: 0;
      left: -80px;

      width: 64px;
      height: 64px;
    }
  }

  .contscts__item-value {
    margin-bottom: 40px;

    @include text(16, 32);
  }
}

@media (min-width: $desctop-width) {
  .contscts__title {
    margin-bottom: 35px;

    @include text(48, 88, 700);
  }

  .contscts__list {
    padding-left: 80px;
  }

  .contscts__item-name {
    @include text(16, 32);

    &::before {
      top: 0;
      left: -80px;

      width: 64px;
      height: 64px;
    }
  }

  .contscts__item-value {
    margin-bottom: 40px;

    @include text(16, 32);
  }
}
