.events {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
  padding-top: 80px;

  color: black;
  background-color: white;

  justify-content: space-between;
}
.events__list {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 30px;

  gap: 19px;
}

.events__item {
  padding-bottom: 20px;

  border-bottom: 1px solid var(--light-gray);
}

.events__item-date {
  display: block;

  margin-bottom: 5px;

  @include text(15, 20, 600);
}

.events__item-dish-list {
  display: flex;

  gap: 38px;
}

.events__item-dish {
  position: relative;

  @include text(11, 20);

  &::after {
    position: absolute;
    top: 11px;
    right: -11px;

    width: 3px;
    height: 3px;

    content: '';

    border-radius: 50%;
    background-color: var(--beige);
    box-shadow: 11px 0 0 0 var(--beige),
    21px 0 0 0 var(--beige);
  }

  &:last-child::after {
    display: none;
  }
}

.events__pictures {
  position: relative;
  z-index: 1;

  display: flex;

  width: 100%;
  height: 320px;

  justify-content: space-between;
  &::before {
    position: absolute;
    z-index: -1;
    top: 8%;
    left: 14%;

    width: 71%;
    height: 78%;

    content: '';

    border: 2px solid var(--beige);
  }
}

.events__picture {
  width: 130px;
  height: auto;
}

.events__picture--left {
  align-self: flex-end;
}

.events__picture--right {
  align-self: flex-start;
}

@media (min-width: $tablet-width) {
  .events {
    flex-direction: row;

    margin-bottom: 90px;
    padding-top: 63px;
  }

  .events__list {
    width: 293px;
    margin-bottom: 0;

    gap: 13px;
  }

  .events__item {
    padding-bottom: 13px;
  }

  .events__item-date {
    margin-bottom: 5px;

    @include text(15, 20, 600);
  }

  .events__item-dish-list {
    gap: 38px;
  }

  .events__item-dish {
    @include text(11, 20);
    @include text(11, 20);

    &::after {
      top: 11px;
      right: -11px;

      width: 3px;
      height: 3px;

      box-shadow: 11px 0 0 0 var(--beige),
      21px 0 0 0 var(--beige);
    }

    &::after {
      top: 11px;
      right: -11px;

      width: 3px;
      height: 3px;

      box-shadow: 11px 0 0 0 var(--beige),
      21px 0 0 0 var(--beige);
    }
  }

  .events__pictures {
    position: relative;

    width: 410px;
    height: 396px;
  }

  .events__picture {
    width: 200px;
  }
}


@media (min-width: $desctop-width) {
  .events {
    margin-bottom: 90px;
    padding-top: 80px;
  }

  .events__list {
    width: 470px;

    gap: 19px;
  }

  .events__item {
    padding-bottom: 20px;
  }

  .events__item-date {
    margin-bottom: 10px;

    @include text(24, 32, 600);
  }

  .events__item-dish-list {
    gap: 63px;
  }

  .events__item-dish {
    @include text(18, 32);

    &::after {
      top: 13px;
      right: -18px;

      width: 5px;
      height: 5px;

      box-shadow: 17px 0 0 0 var(--beige),
      34px 0 0 0 var(--beige);
    }
  }

  .events__pictures {
    position: relative;

    width: 668px;
    height: 638px;
  }

  .events__picture {
    width: 323px;
  }
}
