.food {
  margin-bottom: 30px;
}

.food__list {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.food__item {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 15px;
}

.food__item-title {
  position: relative;

  margin-bottom: 10px;

  text-transform: uppercase;

  @include text(19, 28, 700);
  &::after {
    position: absolute;
    bottom: -5px;
    left: -25px;

    width: 50px;
    height: 2px;

    content: '';

    background-color: var(--beige);
  }
}

.food__item-text {
  @include text(14, 20);
}

.food__item-photo {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .food {
    margin-bottom: 50px;
  }

  .food__list {
    gap: 30px;
  }

  .food__item {
    flex-direction: row;

    gap: 30px;
  }

  .food__item--pic-first {
    flex-direction: row-reverse;
  }

  .food__item-title {
    margin-bottom: 10px;

    @include text(30, 40, 700);

    &::after {
      bottom: -5px;
      left: -55px;

      width: 108px;
      height: 2px;
    }
  }

  .food__item-text {
    @include text(16, 32);
  }

  .food__item-photo {
    width: 400px;
  }
}

@media (min-width: $desctop-width) {
  .food {
    margin-bottom: 80px;
  }

  .food__list {
    gap: 30px;
  }

  .food__item {
    gap: 30px;
  }

  .food__item-title {
    margin-bottom: 20px;

    @include text(40, 88, 700);

    &::after {
      bottom: -5px;
      left: -55px;

      width: 108px;
      height: 2px;
    }
  }

  .food__item-text {
    @include text(16, 32);
  }

  .food__item-photo {
    width: 670px;
  }
}
