.main-header {
  display: flex;

  min-height: 26px;
  margin-top: 55px;
  margin-bottom: 45px;

  color: black;

  align-items: center;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-header {
    margin-top: 16px;
    margin-bottom: 32px;
  }
}


@media (min-width: $desctop-width) {
  .main-header {
    margin-top: 55px;
    margin-bottom: 154px;

    color: white;
  }
}
