.reviews {
  display: flex;

  height: 400px;
  margin-bottom: 30px;

  color: white;
  background-color: var(--deep-blue);

  align-items: center;
  justify-content: center;
}

.reviews__item {
  display: flex;

  justify-content: center;
}
.reviews__item-inner {
  display: flex;
  flex-direction: column;

  width: 67%;

  justify-content: center;
}

.reviews__item-title {
  position: relative;

  margin-bottom: 6px;
  padding-top: 77px;

  text-align: center;

  color: var(--beige);

  @include text(16, 20, 600);
  &::before {
    position: absolute;
    top: 0;
    left: 50%;

    width: 5.2em;
    height: 3.6em;

    content: '';
    transform: translateX(-50%);

    background-image: url('./../img/quote-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    font-size: 16px;
  }
}

.reviews__item-text {
  margin-bottom: 9px;

  text-align: center;

  @include text(10, 18);
}

.reviews__item-author {
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: var(--beige);

  @include text(10, 20, 600);
}

.reviews__swiper-button::after {
  color: var(--beige);

  font-size: 35px !important;
}

.reviews__swiper-button.swiper-button-disabled {
  opacity: 1 !important;
}

.reviews__swiper-button.swiper-button-disabled:after {
  color: white;
}

@media (min-width: $tablet-width) {
  .reviews {
    height: 400px;
    margin-bottom: 50px;
  }

  .reviews__item-inner {
    //margin-top: 219px;
  }

  .reviews__item-title {
    margin-bottom: 9px;
    padding-top: 77px;

    @include text(20, 30, 600);
    &::before {
      font-size: 16px;
    }
  }

  .reviews__item-text {
    margin-bottom: 9px;

    @include text(11, 28);
  }

  .reviews__item-author {
    letter-spacing: 3px;

    @include text(11, 20, 600);
  }

  .reviews__swiper-button::after {
    font-size: 35px !important;
  }
}


@media (min-width: $desctop-width) {
  .reviews {
    height: 782px;
    margin-bottom: 109px;
  }

  .reviews__item-inner {
    margin-top: 0;
  }

  .reviews__item-title {
    margin-bottom: 20px;
    padding-top: 92px;

    @include text(36, 40, 600);
    &::before {
      font-size: 16px;
    }
  }

  .reviews__item-text {
    margin-bottom: 31px;

    @include text(16, 40);
  }

  .reviews__item-author {
    letter-spacing: 6px;

    @include text(24, 40, 600);
  }

  .reviews__swiper-button::after {
    font-size: 50px !important;
  }
}
