.reviews {
  background-color: var(--deep-blue);
  color: white;
  height: 400px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__item {
  display: flex;
  justify-content: center;
}
.reviews__item-inner {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews__item-title {
  @include text(16, 20, 600);
  margin-bottom: 6px;
  padding-top: 77px;
  text-align: center;
  color: var(--beige);

  position: relative;
  &::before {
    font-size: 16px;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../../img/quote-icon.svg');
    width: 5.2em;
    height: 3.6em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.reviews__item-text {
  @include text(10, 18);
  margin-bottom: 9px;
  text-align: center;
}

.reviews__item-author {
  @include text(10, 20, 600);
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: var(--beige);
}

.reviews__swiper-button::after {
  color: var(--beige);
  font-size: 35px !important;
}

.reviews__swiper-button.swiper-button-disabled {
  opacity: 1 !important;
}

.reviews__swiper-button.swiper-button-disabled:after {
  color: white;
}

@media (min-width: $tablet-width) {
  .reviews {
    height: 400px;
    margin-bottom: 50px;
  }

  .reviews__item-inner {
    //margin-top: 219px;
  }

  .reviews__item-title {
    @include text(20, 30, 600);
    margin-bottom: 9px;
    padding-top: 77px;
    &::before {
      font-size: 16px;
    }
  }

  .reviews__item-text {
    @include text(11, 28);
    margin-bottom: 9px;
  }

  .reviews__item-author {
    @include text(11, 20, 600);
    letter-spacing: 3px;
  }

  .reviews__swiper-button::after {
    font-size: 35px !important;
  }
}


@media (min-width: $desctop-width) {
  .reviews {
    height: 782px;
    margin-bottom: 109px;
  }

  .reviews__item-inner {
    margin-top: 0;
  }

  .reviews__item-title {
    @include text(36, 40, 600);
    margin-bottom: 20px;
    padding-top: 92px;
    &::before {
      font-size: 16px;
    }
  }

  .reviews__item-text {
    @include text(16, 40);
    margin-bottom: 31px;
  }

  .reviews__item-author {
    @include text(24, 40, 600);
    letter-spacing: 6px;
  }

  .reviews__swiper-button::after {
    font-size: 50px !important;
  }
}
