.toggle-icon__rects {
  transition: 0.5s;
  transform-origin: 13px 13px;
}
.toggle-icon__top-rect {
  transition: 0.25s 0.5s;
  transform-origin: 13px 5px;
}
.toggle-icon__middle-rect {
  transition: 0.25s;
  transform-origin: 13px 13px;
}
.toggle-icon__bottom-rect {
  transition: 0.25s 0.5s;
  transform-origin: 13px 21px;
}
.main-nav--open .toggle-icon__top-rect {
  transition: 0.25s 0s;
  transform: translate(0, 8px);
}
.main-nav--open .toggle-icon__middle-rect {
  transition: transform 0.25s 0.25s;
  transform: rotate(90deg);
}
.main-nav--open .toggle-icon__bottom-rect {
  transition: 0.25s 0s;
  transform: translate(0, -8px);
}
.main-nav--open .toggle-icon__rects {
  transition: transform 0.5s 0.25s;
  transform: rotate(45deg);
}
