$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desctop-width: 1200px;
$tablet-width: 785px;

$root-font-size: 16px;

$accent: #1D223C;

:root {
  --dark-blue: #1D223C;
  --deep-blue: #3A4574;
  --light-gray: #E7E7E7;
  --beige: #D3B47F;
  --gray: #CCCCCC;
  --dark-gray: #808080;
}
