.container {
  box-sizing: border-box;

  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
}


.container--two-col {
  flex-direction: column;
  gap: 15px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: $tablet-width) {
  .container {
    max-width: 720px;
  }

  .container--two-col {
    flex-direction: row;
    gap: 30px;
  }
}

@media (min-width: $desctop-width) {
  .container {
    max-width: 1170px;
  }
}
